
@using Microsoft.Extensions.Options;
@using Lap1.Web.Configuration;
@inject IOptions<ApplicationSettings> _configurationSettings
@using Microsoft.AspNetCore.Http
@using ASC.Utilities
@inject IHttpContextAccessor UserHttpContext
@{
    var currentUser = UserHttpContext.HttpContext.User.GetCurrentUserDetails();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous" />

    <link href="~/css/admin/styles.css" rel="stylesheet" />
    <title>@_configurationSettings.Value.ApplicationTitle</title>
</head>
<body id="body">
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="navbar__left">

                <a class="active_link" href="#">@currentUser.Name</a>
                <a class="active_link" href="#">>@currentUser.Email</a>
            </div>
            <div class="navbar__right">
                <div>
                    <input type="text">
                    <button type="submit" class="find">Tìm</button>

                </div>

                <a href="#">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <img width="30" src="assets/avatar.svg" alt="" />
                    <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                </a>
            </div>
        </nav>

        @RenderBody();

        <div id="sidebar">
            <div class="sidebar__title">
                <div class="sidebar__img">

                    <h1>@_configurationSettings.Value.ApplicationTitle</h1>
                </div>
                <i onclick="closeSidebar()"
                   class="fa fa-times"
                   id="sidebarIcon"
                   aria-hidden="true"></i>
            </div>

            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <i class="fa fa-home"></i>
                    <a href="#">Dashboard</a>
                </div>
                <h2>MNG</h2>
                <div class="sidebar__link">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <a href="#">Admin Management</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-building-o"></i>
                    <a href="#">Company Management</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-wrench"></i>
                    <a href="#">Employee Management</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-archive"></i>
                    <a href="#">Warehouse</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-handshake-o"></i>
                    <a href="#">Contracts</a>
                </div>
                <h2>LEAVE</h2>
                <div class="sidebar__link">
                    <i class="fa fa-question"></i>
                    <a href="#">Requests</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-sign-out"></i>
                    <a href="#">Leave Policy</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-calendar-check-o"></i>
                    <a href="#">Special Days</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-files-o"></i>
                    <a href="#">Apply for leave</a>
                </div>
                <h2>PAYROLL</h2>
                <div class="sidebar__link">
                    <i class="fa fa-money"></i>
                    <a href="#">Payroll</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-briefcase"></i>
                    <a href="#">Paygrade</a>
                </div>
                <div class="sidebar__logout">
                    <i class="fa fa-power-off"></i>
                    <a href="/Identity/Account/Logout" id="ancrLogout">Log out</a>
                </div>
            </div>
        </div>
    </div>
    <form class="hide" method="post" id="logout_form" asp-area="Identity" asp-page="/Account/Logout">
        <input type="submit" value="Logout" />
    </form>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="~/js/admin/script.js"></script>

    @section Scripts{
        @RenderSection("Scripts", required: false);
        <script type="text/javascript">
            $(function () {
                alert("2222")
                $('#ancrLogout').click(function () {
                    $('#logout_form').submit();
                });
            });
        </script>
    }


</body>
</html>
