@model IEnumerable<ASC.Models.Models.ServiceRequest>
@using ASC.Models.BaseTypes
@{
    var isAudit = ViewBag.IsAudit;
}
<div class="row"></div>
<div class="new_col">
    <div class="row z-depth-3">
        <div class="section white-text padding-left-10px gradient-bg">
            <h5>@ViewBag.SectionName</h5>
        </div>
        <div class="divider"></div>
        <div class="col s12 padding-bottom-15px">
            @* Display List of Service Requests *@
            <table class="highlight centered tblServiceRequests" id="@ViewBag.Id">
                <thead>
                    <tr>
                        <th data-field="RowKey">RowKey</th>
                        <th data-field="PartitionKey">PartitionKey</th>
                        <th data-field="PartitionKey">Khách hàng</th>
                        <th data-field="Status">Trạng thái</th>
                        <th data-field="RequestedDate">Ngày đặt</th>
                        <th data-field="ServiceEngineer">Nhân viên giao hàng</th>
                        @if (isAudit)
                        {
                            <th data-field="RequestedServices">Thanh toán</th>
                        }
                        <th data-field="Actions">Xem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var serviceRequest in Model)
                    {
                        <tr>
                            <td>@serviceRequest.RowKey</td>
                            <td>@serviceRequest.PartitionKey</td>
                            <td>
                                @(!serviceRequest.PartitionKey.Contains('-') ?serviceRequest.PartitionKey : serviceRequest.PartitionKey.Split(new char[] { '-' })[0])
                            </td>
                            <td>
                                @switch ((Status)Enum.Parse(typeof(Status), serviceRequest.Status))
                                {
                                    case Status.New:
                            <div class="white-text teal lighten-1 center-align">
                                <span>Mới</span>
                            </div> break;
                        case Status.Initiated: <div class="white-text teal lighten-1 center-align">
                                <span>Bắt đầu</span>
                            </div> break;
                        case Status.InProgress: <div class="white-text teal lighten-1 center-align">
                                <span>Đang vận chuyển</span>
                            </div> break;
                        case Status.Completed:
                            <div class="white-text teal lighten-1 center-align">
                                <span>Hoàn thành</span>
                            </div> break;
                        case Status.RequestForInformation:
                            <div class="white-text red lighten-1 center-align">
                                <span>Thiếu thông tin</span>
                            </div> break;
                        case Status.Pending:
                            <div class="white-text red lighten-1 center-align">
                                <span>Chưa giải quyết</span>
                            </div> break;
                        case Status.Denied:
                            <div class="white-text red lighten-1 center-align">
                                <span>Hủy</span>
                            </div> break;
                        case Status.PendingCustomerApproval:
                            <div class="white-text orange lighten-1 center-align">
                                <span>Chưa được xác nhận</span>
                            </div>break;
                        default:
                            break;
                    }
                            </td>
                            <td>
                                @(serviceRequest.RequestedDate == null ? "" : serviceRequest.RequestedDate.Value.ToString("dd/MM/yyyy") )
                            </td>
                            <td>@serviceRequest.ServiceEngineer</td>
                            @if (isAudit)
                            {
                                var trimText = String.IsNullOrWhiteSpace(serviceRequest.
                               RequestedServices) ?
                                string.Empty :
                               serviceRequest.RequestedServices.Length > 50 ?
                                string.Format("{0}...", serviceRequest.RequestedServices.
                               Substring(0, 50)) :
                                serviceRequest.RequestedServices;
                                <td title="@serviceRequest.RequestedServices">@trimText</td>
                            }
                            <td><i class="small material-icons view cursor-hand">pageview</i></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>